@charset "UTF-8";
// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// <<<<< LINK
pre, table:not(.highlight), .katex-display, .break-layout  {
  @media screen {
    position: relative;
    width: calc(100vw - .5rem);
  }

  @media screen and (min-width: 38rem) {
    width: calc(100% + 50vw - (38rem / 2) + 2rem);
  }

  @media screen and (min-width: $break-point-2) {
    width: calc(100% + 50vw - (42rem / 2) + 2rem);
  }

  @media screen and (min-width: $break-point-3) {
    width: calc(100vw - 22rem);
  }

  @media screen and (min-width: $break-point-4) {
    width: calc(100% + 100vw - 42rem - 22rem + 2rem);
  }

  @media screen and (min-width: $break-point-5) {
    width: calc(100% + 100vw - 48rem - 22rem + 2rem);
  }

  @media screen and (min-width: $break-point-dynamic) {
    width: calc(100% + 50vw - (48rem / 2) + 2rem);
  }
}
// >>>>>
