@charset "UTF-8";
// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// <<<<< INLINE
.content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 1rem 12rem;

  @media screen {
    padding-left: 1.5rem;
    max-width: 38rem;
    min-height: 100vh;
  }

  @media screen and (min-width: $break-point-2) {
    max-width: 42rem;
  }

  @media screen and (min-width: $break-point-3) {
    margin-left: 22rem;
    margin-right: 4rem;
    padding-left: 1rem;
  }

  @media screen and (min-width: $break-point-5) {
    max-width: 48rem;
  }

  @media screen and (min-width: $break-point-dynamic) {
    margin: auto;
  }
}
// >>>>>
// <<< link
.content {
  @media print {
    padding-bottom: 1rem;
  }
}
// >>>
