@charset "UTF-8";
// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// <<<<< LINK
article {
  .katex-display, div.MathJax_Preview {
    /* Prevent code linebreaks and allow side-scrolling (much better readability on mobile) */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    text-align: left;

    @include pre(2rem);

    backface-visibility: hidden;
  }

  div.MathJax_Preview {
    font-family: $code-font-family;
    font-size: .75em;
    line-height: 1.45;
    white-space: pre;
    margin-bottom: 2rem;
  }

  span.MathJax_Preview {
    font-family: $code-font-family;
    padding: .25em .5em;
    font-size: .85em;
    background-color: $code-bg;
  }
}

.MathJax_Preview:empty {
  display: none;
  visibility: hidden;
}
// >>>>>
