@charset "UTF-8";
// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// <<<<< INLINE
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar > .content {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  height: 0;
  color: $gray;
}

.nav-btn-bar {
  margin-left: -.875rem;
}

.nav-btn {
  display: inline-block;
  padding: 1.75rem .875rem;
  border-bottom: none;
  color: $gray!important;
}
// >>>>>

// <<<< LINK
.animation-main {
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.75rem 1rem;
}
// >>>>

#_menu {
  @media screen and (min-width: $break-point-3) {
    position: absolute; // inline
    left: -9999px; // inline
    &:focus { position: static; } // link
  }
  @media print { display: none; } // link
}

// <<<< LINK
#_cookies-banner  {
  .nav-btn { padding: 1.75rem 0 }
  .nav-btn-bar {
    margin: 0 2rem;
    @media screen and (min-width: $break-point-3) {
      margin: 0 2rem 0 0;
    }
  }
  @media print { display: none; }
}
// >>>>
