@charset "UTF-8";
// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// <<<<< INLINE
.sidebar-social {
  margin-bottom: .5rem;

  &::after {
    @extend .clearfix
  }

  > ul {
    list-style: none;
    padding-left: 0;

    > li {
      float: left;

      > a {
        display: inline-block;
        text-align: center;
        font-size: 1.5rem;
        width: 3rem;
        height: 3.5rem;
        padding: 0;
      }
    }

    li + li {
      margin-top: 0;
    }
  }
}
// >>>>>

// <<< link
.sidebar-social {
  @media print {
    display: none;
  }
}
// >>>
