@charset "UTF-8";
// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

$gray: #888;
$gray-bg: rgba(0,0,0,.025);
$gray-text: #666;

$root-font-size: 16px;
$root-font-size-medium: 17px;
$root-font-size-large: 18px;
$root-font-size-print: 11pt;
$root-line-height: 1.75;

$font-weight: 400;
$font-weight-bold: 700;
$font-weight-heading: 700;

$body-color: #444;
$body-bg: #fff;

$border-color: #eee;

$code-font-family: Menlo, Monaco, Consolas, monospace;
$code-color: inherit;
$code-bg: $gray-bg;

$break-point-1: 42em;
$break-point-2: 54em;
$break-point-3: 64em;
$break-point-4: 72em;
$break-point-5: 90em;
$break-point-dynamic: 98.5em;
$break-point-font-large: 125em;
