@charset "UTF-8";
// Use this file to override the theme-wide default variables.

// $gray: #888;
// $gray-bg: rgba(0,0,0,.025);
// $gray-text: #666;
//
// $root-font-size: 16px;
// $root-font-size-medium: 17px;
// $root-font-size-large: 18px;
// $root-line-height: 1.75;
//
// $font-weight: 400;
// $font-weight-bold: 700;
// $font-weight-heading: 700;
//
// $body-color: #333;
// $body-bg: #fff;
//
// $border-color: #eee;
//
// $code-font-family: Menlo, Monaco, Consolas, monospace;
// $code-color: inherit;
// $code-bg: $gray-bg;
//
// $break-point-1: 42em;
// $break-point-2: 54em;
// $break-point-3: 64em;
// $break-point-4: 72em;
// $break-point-5: 90em;
// $break-point-dynamic: 104.25em;
// $break-point-font-large: 125em;
