@charset "UTF-8";
// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// <<<<< LINK
.pagination {
  width: calc(100% + 2rem);
  margin: 0 -1rem 1rem;
  color: $gray;
  text-align: center;

  > ul {
    list-style: none;
    padding: 0;
  }
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  > * {
    display: block;
    padding: .25rem 1rem;
    border: solid $border-color;
    border-width: 1px 0;
  }

  > a, > a:hover, > a:focus {
    border-color: $border-color!important;
  }

  &:first-child > * {
    margin-bottom: -1px;
  }

  // Only provide a hover state for linked pagination items
  > a:hover, a:focus {
    background-color: #f5f5f5;
    border-bottom: 1px solid $border-color;
  }
}

@media (min-width: 23.5em) {
  .pagination {
    width: 100%;
    margin: 3rem 0;
  }

  .pagination-item {
    > * {
      float: left;
      width: 50%;
      border-width: 1px;
    }

    &:first-child > * {
      margin-bottom: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    &:last-child > * {
      margin-left: -1px;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
// >>>>> LINK
