@charset "UTF-8";
// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// <<<<< INLINE
.page {
  margin-bottom: 3em;

  li + li {
    margin-top: .25rem;
  }

  > header {
    margin-bottom: 2rem;
  }
}

// Blog post or page title
.page-title, .post-title { margin-top: 0; }

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: $gray;
}
// >>>>>
// <<<<< LINK
hr.dingbat {
  border: 0;
}

hr.dingbat::after {
  content: "\2756"; // ❖
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #ddd;
}
// >>>>>
